version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: naturgy-backend
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    restart: unless-stopped
